<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker - About</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon_1.png">
</head>

<body>

    <h1>Expense Tracker</h1>
    <p>Welcome to our Expense Tracker and Friends Expenses project. This platform is designed to help you manage your
        personal expenses and track shared expenses with friends effortlessly.</p>
    <p>Mission is to provide an intuitive and efficient solution for tracking finances and managing group expenses,
        making financial tracking a hassle-free experience.</p>

    <ul>
        <li>
            <h4>Expense Tracking</h4>
            <p>Log your daily expenses and categorize them for a comprehensive overview.</p>
        </li>
        <li>
            <h4>Group Expenses</h4>
            <p>Easily split bills and track shared expenses when out with friends or in a group.</p>
        </li>
        <li>
            <h4>User-Friendly Interface</h4>
            <p>A simple and intuitive interface for a seamless user experience.</p>
        </li>
    </ul>

    <ul>
        <li>
            <h4>Technologies Used</h4>
            <p>I utilized cutting-edge technologies including Java Spring Boot, Thymeleaf, Bootstrap, and MySQL for a
                robust and efficient platform.</p>
        </li>
        <li>
            <h4>Contact Information</h4>
            <p>Feel free to reach out to me at <u>manishpawar2001@gmail.com</u> for any inquiries or support related to
                our
                project.</p>
        </li>
    </ul>

    <h3>Your Data Privacy and Security</h3>
    <p>At Expense Tracker, we take your privacy and data security seriously. Rest assured, your personal information and
        login credentials are handled with the utmost care and diligence.</p>

    <ul>
        <li>
            <h4>Data Encryption</h4>
            <p>The application has been employed with advanced encryption protocols to safeguard your data during
                transmission and storage.</p>
        </li>
        <li>
            <h4>Secure Authentication</h4>
            <p>Your login credentials are securely stored and handled with best practices to prevent unauthorized
                access.</p>
        </li>
        <li>
            <h4>Strict Privacy Policies</h4>
            <p>The privacy policies are designed to ensure that your data is never shared or used for any purpose beyond
                your intended interactions on this platform.</p>
        </li>
        <li>
            <h4>Continuous Monitoring</h4>
            <p>The data is continuously monitored in this systems to identify and address any potential security
                threats, ensuring a
                safe environment for your data.</p>
        </li>
    </ul>
</body>

</html>